<html>

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="../logreg.css" />
</head>

<div class="container right-panel-active" id=" container">
  <div class="form-container sign-up-container">
    <form id="signup-form">
      <h1>Create Account</h1>
      <input type="text" placeholder="Name" id="signup-name" autocomplete="off" required />
      <input type="email" placeholder="Email" id="signup-email" autocomplete="off" required />
      <input type="password" placeholder="Password" id="signup-password" autocomplete="off" required />
      <button type="submit" id="sign-up-button">Sign Up</button>
      <label for="error" id="signup-error"></label>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome!</h1>
        <p>Enter your login credentials to access your blogs</p>
        <p>Already have an account?<br><u><a href="/auth/login" style="color:white;">Sign in</a></u> </p>
      </div>
    </div>
  </div>

</div>
<script src="../register.js"></script>

</html>